.cursor
.idea
.kilocode
.vscode
**.ps1
**.sh
/API.iml

### Custom ###
application-dev.yml
application-prod.yml

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/xiaoxin-client-sdk/README-SDK.md
/简历包装-高并发网关流量治理系统.md
/logs/
